@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,300;1,300;1,500;1,700 & display=swap');

body,
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}


.titre {
    position: fixed;
    background-color: blue;
    width: 100%;
    padding: 05PX;
    margin-top: -10PX;
    margin-left: -10PX;
    z-index: 5;
    /*permet de fais passer les page en desous z-index   */

}

.titre h1 {
    color: white;
    text-align: center;
    border: 5PX white solid;
    margin: 0PX 350PX;
    font-size: 2.8rem;
    margin-bottom: 3PX;
    margin-top: 3PX;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 300PX;

}

.section1 {
    position: relative;
    border: 5px blue inset;
    border-top: none;
    margin: 0px auto;
    height: 570PX;
    border-radius: 20px;
    width: 1100px;
}

.section1 h2 {
    position: absolute;
    top: 205PX;
    left: 50PX;
    font-size: 2.7rem;
    color: #333;
    z-index: 1;
}

.section1 img {
    position: absolute;
    left: 680PX;
    bottom: 40PX;
    width: 37%;
    border-radius: 500PX;
    border-top-right-radius: 0PX;
    background-color: rgb(189, 189, 189);
}

/* LA NAVIGATION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
nav {
    position: sticky;
    top: 65px;
    background-color: rgb(116, 116, 116);
    padding: 10PX;
    z-index: 5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;

    /* pour metre les elemet a linterieur dans des position egaux  ::justify-content:::*/
}

nav li {
    list-style-type: none;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: lowercase;

}

/* main carton des section ************************************************************************* */

main {
    margin: 0px 100PX;
}

main .section {

    margin: 20px 0px;
}

main .section h2 {
    text-transform: capitalize;
    color: #0000ff;
    font-size: 2rem;
    margin-bottom: 10PX;
    font-weight: 300PX;
}

main .section p {

    font-size: 30PX;
    color: rgb(0, 0, 0);
}

/* les 2primiere image */
main .section .images {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.image * {
    width: 560PX;
    border: 1px solid rgb(155, 151, 151);
    border-radius: 20PX;
}

/* nos services*********** */


/* les logos des titres et les titre dans class="serv-titre  */
.serv-titre {
    display: flex;
    font-size: 25px;
}

.serv-titre img {
    width: 30PX;
}

/* alignement des  service   */
.servicesgenarale {
    padding: 20px;
}

main .service12,
.service34 {
    display: flex;
    margin-bottom: 20PX;

}


/* contactez nous ======================================================== */
.formulaire {
    max-width: 100%;
    display: flex;
    position: relative;
    margin-top: 10px;
}

.formulaire img[alt="image de fin"] {
    height: 510PX;
}


form {
    border: 1PX solid white;
    width: 55%;
    padding: 20PX;
    background-color: #0062ffaf;
    border-radius: 50px;
    position: absolute;
    left: 430px;
    top: 68PX;
}

.whatsapp img {
    width: 30PX;
}

.whatsapp {
    display: flex;
    justify-content: center;
}

.whatsapp span {
    font-size: 35px;
    color: white;
    font-weight: bold;
}


form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8PX;
    margin: 5px 2px;
    font-size: 1.1rem;
    border: none;
    border-radius: 40px;
}

form input[type="submit"] {
    width: 40%;
    padding: 8PX;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px;
    text-transform: capitalize;
    font-weight: bold;
    color: #0000ff;
}

/* footer ******************************************************************************/
footer {
    background-color: blue;
    padding: 20PX;
    margin-top: 80PX;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
    color: whitesmoke;
}

footer p a {
    text-decoration: none;
    color: rgb(199, 198, 198);
    font-weight: bold;

}